@model n0145401_Neil_Moras_Assignment3.Models.Teacher


@{
    ViewBag.Title = "Show";
}

      <a href="/Teacher/List">Return to the Teachers List</a>
       <h2 class="teacher-show-head">About @Model.TeacherFname </h2>
<p class="teacher-disc">Hello! My name is <b> @Model.TeacherFname @Model.TeacherLname </b> and I teach @Model.ClassCode @Model.ClassName.</p>


